In [1]:
import random
import pandas as pd

# Load the data

In [3]:
# When loading be sure to define the compression
df_submission = pd.read_pickle('./data/df_submission.pkl.gzip', compression='gzip')

In [4]:
print('Shape {}'.format(df_submission.shape))
df_submission.head()

Shape (3495, 17)

,trace_id,receiver_latitude,receiver_longitude,receiver_elevation_m,p_arrival_sample,p_travel_sec,s_arrival_sample,source_origin_time,source_latitude,source_longitude,source_depth_km,snr_db_E,snr_db_N,snr_db_Z,E,N,Z
0,trace_500,35.581100,-97.337900,348.0,700.0,14.87,1549.6,2007-12-10 22:59:54.860,38.83500,-122.62850,11.80,16.299999,20.400000,16.400000,"[47.91391, 54.48873, 104.98932, 68.85939, -89....","[12.68903, -8.055045, -47.11942, -73.752045, 2...","[23.74113, -83.93018, -129.62596, -48.17319, -..."
1,trace_501,36.024860,-120.889270,150.0,901.2,5.41,1721.0,2012-04-10 06:01:45.090,33.52950,-98.04667,10.00,50.700001,80.300003,63.799999,"[0.0, 5.890254e-05, 0.00015290757, 0.000394376...","[-0.0, -2.3855828e-05, -6.685466e-05, -0.00018...","[0.0, 9.427659e-05, 0.00025428217, 0.000653952..."
2,trace_502,18.271674,-65.856634,606.9,600.0,12.21,2252.2,2012-01-05 20:25:49.570,36.79917,-117.53630,5.20,17.900000,16.799999,17.000000,"[-211.94136, -134.57808, -44.9134, 39.516582, ...","[-9.661635, -4.640383, 9.446987, 30.037794, 50...","[25.040968, 25.636677, 23.085747, 14.101092, -..."
3,trace_503,61.980000,-151.531700,581.0,894.0,3.36,1907.5,2013-04-04 15:00:35.850,37.62200,-97.63350,6.68,38.900002,39.000000,35.400002,"[-8.93017, 1.5932446, 10.851206, 18.20302, 23....","[-54.592392, -59.77653, -57.57514, -48.099186,...","[18.863066, 22.867832, 24.935215, 26.854841, 2..."
4,trace_504,64.099700,-150.987300,619.0,400.0,7.83,2015.0,2015-08-09 07:54:19.230,62.09740,176.23340,19.98,13.000000,14.300000,10.500000,"[-0.0, -0.004747249, -0.012011067, -0.03082597...","[0.0, 0.00033408226, 0.001664875, 0.0050099394...","[-0.0, -0.013113829, -0.034793645, -0.0906785,..."

# Submission Format

In [ ]:
y_pred = [random.randint(0,7) for ii in range(df_submission.shape[0]) ]

In [ ]:
y_pred[:10]

In [ ]:
df_submit = pd.DataFrame({'trace_id' : df_submission['trace_id'],
                          'submission' : y_pred})
df_submit

In [ ]:
df_submit.to_csv('./your_submission.csv',index=False)